.product-page_grid {
    background-color: rgba(0,0,0,.2);
}
.product-page_image {
    height: 450px;
    background-color: rgba(0,0,0,.2);
    text-align: center;
}
.product-page_thumbnail {
    height: 150px;
    margin: 15px 0 15px 0;
    background-color: rgba(0,0,0,.2);
}
.product-page_breadcrumb {
    height: 30px;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,.2);
    text-align: center;
}
.product-page_review {
    height: 30px;
    width: 200px;
    margin-bottom: 15px;
    background-color: rgba(0,0,0,.2);
    text-align: center;
}
.product-page_name {
    height: 90px;
    margin-bottom: 15px;
    background-color: rgba(0,0,0,.2);
    text-align: center;
}
.product-page_price {
    height: 60px;
    width: 200px;
    margin-bottom: 15px;
    background-color: rgba(0,0,0,.2);
    text-align: center;
}
.product-page_color-selection {
    height: 30px;
    width: 500px;
    margin-bottom: 15px;
    background-color: rgba(0,0,0,.2);
    text-align: center;
}
.product-page_size-selection {
    height: 25px;
    width: 300px;
    margin-bottom: 15px;
    background-color: rgba(0,0,0,.2);
    text-align: center;
}
.product-page_quantity-selection {
    height: 25px;
    width: 200px;
    margin-bottom: 15px;
    background-color: rgba(0,0,0,.2);
    text-align: center;
}
.product-page_add-to-cart {
    border-radius: 18px;
    margin: 8px 16px;
    padding: 0 16px;
}