.product-card {
}
.product-card__media {
  padding: 25px;
}
.product-card__name {
  margin: 10px;
}
.product-card__body {
  margin: 10px;
}
.product-card__icon {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
.product-card__button {
  border-radius: 18px;
  margin: 8px 16px;
  padding: 0 16px;
}
