.product-card {
}
.product-card__media {
}
.product-card__primary {
}
.product-card__title {
  margin: 10px;
}
.product-card__body {
  height: 100px;
  margin: 10px;
}
.product-card__icon {
  margin-right: 5px;
  display: inline-block;
  vertical-align:middle;
}