.catalog-paging {
  margin-top: 65px;
  margin-bottom: 15px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
.catalog-filtering {
  padding: 30px;
  height: 1000px;
  width: 400px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
.catalog-product_list {
}
